@using Hospitality.Common.DTO.CheckUp
@model Hospitality.Web.Models.PatientDataCheckUpViewModel
@{
    ViewData["Title"] = "Check Up";
}
<head>
    <link rel="stylesheet" href="~/css/CheckUp.css" asp-append-version="true" />
</head>
<body>

<content>
    @using (Html.BeginForm("CheckUp", "CheckUp"))
    {
        <div style="display:none">
				@Html.TextBoxFor(model=>model.PatientPesel)
				@Html.TextBoxFor(model=>model.PatientId)
		</div>
            <div id="checkUpForm">
                        <h3>Symptoms and recommendations </h3><br>

                    <div class="wrapper">
                               <div class="checkUp">
                          @Html.TextAreaFor(x => x.Description, new { @class = "checkUp",  @rows = 15} )         
                                </div>
                                <div>
                                </div>

                                <div class="buttons">
                                    <a asp-controller="Result" asp-action="Result">
                                      <button id="resultButton" type="button" class="btn btn-primary">  Test results  </button>
                                    </a>
                                 </div>
                                </div>
                                  <br>
                                    <button id="finishButton" typeof="submit" class="btn btn-primary"  data-bs-toggle="modal"  data-bs-target="#exampleModal" >  Finish visit  </button>
                                </div>
                                 <div class="modal-dialog">
                </div>
    }

    @using (Html.BeginForm("Examination", "Examination", FormMethod.Post, new { target = "_blank" }))
    {
        @*@Html.HiddenFor(m => m.PatientPesel, Model.PatientPesel)
        @Html.DropDownListFor(m => m.ChosenExamination, new SelectList(Model.AvailableExaminations), "--Select Specialist--", new { style="font-size:120%;"})*@
        <br>
            <button id="finishButton" typeof="submit" class="btn btn-primary"  data-bs-toggle="modal"  data-bs-target="#exampleModal" >  Order an examination  </button>
    }

</content>



</body>
