@using Hospitality.Common.DTO.CheckUp
@model Hospitality.Common.DTO.CheckUp.NewCheckUpDTO
@{
    ViewData["Title"] = "Check Up";
}
<head>
    <link rel="stylesheet" href="~/css/CheckUp.css" asp-append-version="true" />
</head>

<body>
    <content>
        <div id="checkUpForm">
            <h3>Symptoms and recommendations </h3>
            <br></br>
            <div>
                @if (Model.IsInsured)
                {
                    <p class="insured"> Patient is Insured</p>
                }
                else
                {
                    <p class="notInsured"> Patient is not Insured</p>
                }

                @using (Html.BeginForm("Result", "Result", FormMethod.Post, new { target = "_blank" }))
                {
                    <div style="display:none">
                        <input type="text" name="PatientPesel" value=@Model.PeselOfPatient />
                    </div>

                    <input type="submit" class="btn btn-primary" value="examination results" />
                }
            </div>



            @using (Html.BeginForm("CheckUp", "CheckUp"))
            {
                <div style="display:none">
                    @Html.TextBoxFor(model=>model.PeselOfPatient)
                    @Html.TextBoxFor(model=>model.IdPatient)
                </div>

                <br>

                <div class="wrapper">
                    <div class="checkUp">
                        @Html.TextAreaFor(x => x.Description, new { @class = "checkUp",  @rows = 15, @value = @Model.Description})
                    </div>

                </div>
                <br>

                <button id="finishButton" typeof="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">  Finish visit  </button>
            }


        </div>
    </content>



</body>
