@{
    ViewData["Title"] = "Check Up";
}
<head>
    <link rel="stylesheet" href="~/css/CheckUp.css" asp-append-version="true" />
</head>


<content>
     <div id="checkUpForm">
                     <h3>Symptoms and recommendations </h3><br>

        <div class="wrapper">



                   <div class="checkUp">
                        <textarea name="textareaInput" rows="15"></textarea>
                    </div>
                                             
                    <div class="buttons">
                          <button id="orderButton" type="submit" class="btn btn-primary">  Order an examination </button><br>
                          <button id="resultButton" type="submit" class="btn btn-primary">  Test results  </button>
                     </div>

                    </div>
                      <br>
                        <button id="finishButton" type="submit" class="btn btn-primary">  Finish visit  </button>
                    </div>


</content>