@using Hospitality.Common.DTO.CheckUp
@model NewCheckUpDTO
@{
    ViewData["Title"] = "Check Up";
    
}
<head>
    <link rel="stylesheet" href="~/css/CheckUp.css" asp-append-version="true" />
</head>

<body>

<content>
    @using (Html.BeginForm("CheckUp", "CheckUp"))
             {
        <div id="checkUpForm">
            <h3>Symptoms and recommendations </h3><br>

        <div class="wrapper">
           
           
             
     
                   <div class="checkUp">
                       @Html.TextAreaFor(x=>x.Description, new { @class = "checkUp",  @rows = 15})                  
                    </div>
                                             
                    <div class="buttons">
                          <button id="orderButton" type="submit" class="btn btn-primary">  Order an examination </button><br>
                          <button id="resultButton" type="submit" class="btn btn-primary">  Test results  </button>
                     </div>

                    </div>
                      <br>
                     
                        <button id="finishButton" typeof="submit" class="btn btn-primary">  Finish visit  </button>
                    </div>
             }

</content>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body justify-content-center">
         <h5>Would you like to finish visit?</h5>
      </div>

         <div class="modal-footer" id="modalForm">                    
              <button type="button" class="btn btn-secondary">Finish</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Dismiss</button>

         </div>
    </div>
  </div>
</div>
</body>
