@using Hospitality.Common.DTO.CheckUp
@model Hospitality.Common.DTO.CheckUp.NewCheckUpDTO
@{
    ViewData["Title"] = "Check Up";
}
<head>
    <link rel="stylesheet" href="~/css/CheckUp.css" asp-append-version="true" />
</head>

<body>

<content>
                @using (Html.BeginForm("CheckUp", "CheckUp"))
        
{
    <div style="display:none">
				@Html.TextBoxFor(model=>model.PeselOfPatient)
				@Html.TextBoxFor(model=>model.IdPatient)

		</div>
            <div id="checkUpForm">
                        <h3>Symptoms and recommendations </h3><br>
                      <div>
                          @if(Model.IsInsured){
                             <p class="insured"> Patient is Insured</p>
                          } else{
                              <p class="notInsured"> Patient is not Insured</p>
                          }                                    
                                    </div>
                    <div class="wrapper">
                       
                               <div class="checkUp">
                          @Html.TextAreaFor(x => x.Description, new { @class = "checkUp",  @rows = 15} )         
                                </div>
                                <div class="buttons">
                                      <button id="orderButton" type="submit" class="btn btn-primary">  Order an examination </button><br>
                                    <a asp-controller="Result" asp-action="Result">
                                     @using (Html.BeginForm("Result", "Result", FormMethod.Post)){                                     
                                       @Html.TextBox("patientPesel",@Model.PeselOfPatient)  
                                             <input id="orderButton" type="submit" class="btn btn-primary" value="Order an examination"></input><br> 
                }
                                      <button id="resultButton" type="button" class="btn btn-primary">  Test results  </button>
                                    </a>
                                
                                 </div>
                                </div>
                                  <br>
                                    <button id="finishButton" typeof="submit" class="btn btn-primary"  data-bs-toggle="modal"  data-bs-target="#exampleModal" >  Finish visit  </button>
                                </div>
                                 <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header  text-black">
                            <h5 class="modal-title" id="exampleModalLabel"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body justify-content-center" id="modalContactBody">
                            <p class="errorMessage">Would you like to save patient visit</p>
                        </div>
                        <div class="modal-footer">
                            <div class="modal-footer " id="modalForm">                    
                                <button id="saveButton" type="submit" class="btn btn-secondary" data-save="modal">Save</button>
                                 <button id="cancelButton" type="reset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                            </div>
                        </div>
                    </div>
                </div>
        }


</content>



</body>
