@{
    ViewData["Title"] = "Sign In Page";
}
<head>
    <link rel="stylesheet" href="~/css/SignIn.css" asp-append-version="true" />
</head>


<content>

                <div id="signInForm">

           
                    <div>                    
                        <p>
                            <label id="loginLabel" for="">Login</label><br>
                            <input id="loginInput" name="loginInput" type="text">
                        </p>
                        <p>
                            <label id="passwordLabel" for="">Password</label><br>
                            <input id="phoneInput" name="phoneInput" type="text">
                        </p>
                     </div><br>
                     <p class="buttons">
                        <button id="sendButton" type="submit" class="btn btn-primary">  Log in  </button>
                        <button id="resetButton" class="btn btn-primary" type="reset">  Reset  </button> 
                     </p>

    </div>


</content>
