body::before {
    content: '';
    position: absolute;
    margin-bottom: 60px;
    background-image: url("../Resources/Welcome_2.jpg");
    background-size: cover;
    background-position: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.1;
}
#signInForm {
    background-color: #d4ebf3;
    margin-top: 12%;
    border: 1px solid black;
    margin-left: 25%;
    margin-right: 25%;
    padding: 4%;
}

#loginLabel, #passwordLabel, #loginInput, #phoneInput, #sendButton, #resetButton {
    font-size: 18px;
}

#loginInput, #phoneInput {
    width: 100%;
}

#resetButton{
    margin-left:5%;
}
#sendButton, #resetButton{
    width: 47%;
}
