@{
    ViewData["Title"] = "Start  Visit";
}
<head>
    <link rel="stylesheet" href="~/css/StartVisit.css" asp-append-version="true" />
</head>


<content>

                <div id="startVisitForm">

           
                    <div>                    
                        <p>
                            <label id="peselLabel" for="">Patient PESEL</label><br>
                            <input id="peselInput" name="peselInput" type="text">
                        </p>
                     </div><br>
                     <p class="buttons">
                        <button id="startButton" type="submit" class="btn btn-primary">  Start visit  </button>
                    </p>

    </div>


</content>