
@model List<ResultClass>


<head>
    <link rel="stylesheet" href="~/css/Result.css" asp-append-version="true" />
</head>

<body>
    <div id="resultForm">
     
                    <table class="table table-hover table-striped">  
                        <tr>  
                            <th>name </th>  
                            <th>result </th>  
                            <th>cena </th>  
                        </tr>  
                        @foreach (var d in Model)  
                        {  
                            <tr>  
                                <td>@d.name</td>  
                                <td>@d.result</td>  
                                <td>@d.price</td>    
                            </tr>  
                        }  
                    </table> 

    </div>                    <br> <br> <br>  <br>


               

                     <p class="buttons">
                             <a asp-controller="CheckUp" asp-action="CheckUp">
                             <button id="backButton" type="button" class="btn btn-primary" data-toggle="modal">  Back to check up  </button>
                        </a>
                     </p>
                 

</body>
 